body {
  background-color: rgba(244, 232, 222, 1);
  display: grid;
  margin: 0%;
  padding: 0%;
}
.Polimorf {
  position: relative;
  width: 428px;
  height: 56px;
  background: rgba(167, 124, 93, 1);
  display: flex;
}
.Polimorf__strelka__svg {
  position: relative;
  left: 16px;
  top: 23px;
  width: 15px;
  height: 10.96px;
}
.Polimorf__rectangle {
  position: relative;
  width: 36px;
  height: 36px;
  background: #c4c4c4;
  border: 1px solid #a77c5d;
  border-radius: 24px;
  left: 48px;
  top: 10px;
}
.Polimorf__icon__svg {
  position: relative;
  width: 19.2px;
  height: 19.2px;
  left: 8.4px;
  top: 8px;
}
.Polimorf__name {
  position: relative;
  left: 98px;
  top: 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #332317;
}
.Polimorf__karandash {
  position: relative;
  left: 250.25px;
  top: 19.5px;
}
.Polimorf__karandash__svg {
  max-width: 16.5px;
  max-height: 17.25px;
}
/* body section*/
.about {
  position: relative;
  width: 428px;
}
.about__ves {
  position: relative;
  display: flex;
  top: 24px;
  left: 12px;
}
.about__ves__svg {
  position: relative;
  left: 107px;
  width: 70px;
  height: 24px;
}
.about__info {
  position: relative;
  left: 107px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #332317;
}
.about__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #332317;
  width: 40px;
}
.navig {
  position: relative;
  top: 626px;
  display: flex;
}
.navig__slash {
  position: relative;
  width: 428px;
  height: 0px;
  left: 0px;
  top: 626px;
  border: 1px solid #a77c5d;
}
.navig__home {
  position: relative;
  top: 23.46px;
  left: 119.41px;
}
.navig__home__svg {
  width: 33.26px;
  height: 33.21px;
}
.navig__home__txt {
  max-width: 49px;
  max-height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #332317;
}
.navig__analitics {
  position: relative;
  left: 278px;
  top: 23.33px;
}
.navig__analitics__svg {
  width: 28.33px;
  height: 33.33px;
}
.navig__analitics__txt {
  max-width: 39px;
  max-height: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #a5a5a5;
}
